<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<!-- Start Header -->
<head th:replace="header/header-meta :: header(title=#{home.page.title})"></head>
<!-- End Header -->
<body>
<!-- Start Navigation -->
<nav th:replace="header/header :: navigation"></nav>

<div class="container">

    <h1>Service Information</h1>
    <div class="row">
        <h3>IP Address: <span th:text="${model.ipAddress}">NO-IP-IN-DOMAIN-MODEL</span></h3>
    </div>

    <h1>Environment Variables</h1>
    <div class="row">
        <table id="places" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
            </tfoot>
            <tbody>
            <!-- FILL IN HERE -->
            <tr th:each="env: ${model.envs}">
                <td th:text="${env.key}"></td>
                <td th:text="${env.value}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <h3>File outside of JAR</h3>
        <p th:text="${model.fileContents}"></p>
    </div>

    <div class="row">
        <h3>Properties File inside of JAR</h3>
        <p th:text="#{some.properties.message}"></p>
    </div>

</div>


<div th:replace="footer/footer :: footer"></div>

</body>
</html>